.livechat {
  position: fixed;
  right: 20px;
  bottom: 50px;
}
.messinger {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 10px #ece6e6;
  border: 1px solid rgb(246, 231, 231);
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;

  border-bottom: 1px solid rgb(92, 87, 87);
}
.header h5 {
  margin-left: 20px;
}
.header p {
  margin-right: 10px;
  background-color: rgb(249, 246, 246);
}
.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.main p {
  padding: 6px;
  font-size: 15px;
  font-weight: 100;
  background-color: rgb(10, 149, 196);
  width: auto;
  right: 100px;
  height: 35px;
  border-radius: 2px;
  width: 300px;
  margin-left: 80px;
}
.main h6 {
  padding: 6px;
  font-size: 15px;
  font-weight: 100;
  height: 35px;
  text-align: right;
  right: 100px;
  background-color: rgb(10, 149, 196);
  border-radius: 2px;
  width: 80px;
  margin-left: 300px;
}
.main h2 {
  padding: 6px;
  font-size: 15px;
  font-weight: 100;
  height: 35px;
  text-align: left;
  right: 100px;
  background-color: rgb(212, 227, 233);
  border-radius: 2px;
  width: 130px;
}
.main h3 {
  padding: 6px;
  font-size: 15px;
  font-weight: 100;
  height: 60px;
  text-align: left;
  right: 100px;
  background-color: rgb(212, 227, 233);
  border-radius: 2px;
  width: 250px;
}
.icon {
  padding: 10px;
  display: flex;
  flex-direction: row;
}
.icon span {
  height: 60px;
  border-radius: 150%;
  background-color: rgb(212, 227, 233);
  position: relative;
  margin-top: -15px;
  font-size: 40px;
  text-align: center;
}
.footer {
  position: absolute;
  height: 70px;
  width: 100%;
  bottom: 0;
  background-color: rgb(249, 246, 246);
  border-top: 1px solid rgb(92, 87, 87);
  padding: 20px;
}
.footer span {
  height: 60px;
  border-radius: 150%;
  background-color: rgb(212, 227, 233);
  position: relative;
  margin-top: -15px;
  font-size: 40px;
  text-align: center;
  position: absolute;
  top: 20px;
}
.footer input {
  position: absolute;
  top: 20px;
  left: 70px;
}
.footer i {
  position: absolute;
  left: 320px;
  color: blue;
}
.footer ab {
  position: absolute;
  left: 260px;
}
.footer ac {
  position: absolute;
  left: 290px;
  font-size: 25px;
  top: 10px;
  color: red;
}
