.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
}
.livechat {
  position: fixed;
  right: 20px;
  bottom: 50px;
  z-index: 50;
}
.live {
  position: fixed;
  right: 100px;
  bottom: 200px;
  z-index: 50;
}
.ca {
  margin-left: 20%;
}
